# -----------------------------------
# 🧩 Dependencies
node_modules/
yarn.lock
package-lock.json

# -----------------------------------
# 🏗️ Build outputs
dist/
build/
.umi/
.umi-production/

# -----------------------------------
# 🔧 Editor / IDE configs
.vscode/
.idea/
.history
.DS_Store
*.bak
*.log

# -----------------------------------
# 🔐 Environment variables
.env
.env.*.local

# -----------------------------------
# 🧪 Test / Coverage
coverage/
*.eslintcache

# -----------------------------------
# 🔧 Misc system
npm-debug.log*
yarn-error.log
functions/
.temp/

# -----------------------------------
# 📦 Roadhog (umi)
_roadhog-api-doc
/src/utils/request-temp.js

# -----------------------------------
# 🚀 Docker
.dockerignore
docker-compose.override.yml
docker-compose.local.yml
.docker/
*.tar
*.pid

# -----------------------------------
# ☁️ Hosting (Vercel, Firebase)
.vercel/
.firebase/

# -----------------------------------
# 📸 Others
screenshot/
.husky/
.sentryclirc
